@import "tailwindcss";

:root {
	--primary-color: #000000;
	--background-color: #d9d9d9;
	--font-sans: var(--font-inter-sans);
	--font-mono: var(--font-inter-mono);
	--font-main: var(--font-main);
}

body {
	color: var(--primary-color);
	background: var(--background-color);
	font-family: Inter, sans-serif;
}
